* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
    font-family: var(--font-sans);
    background: linear-gradient(to bottom right, #f9fafb, #f3f4f6, #fff);
    color: var(--color-text-dark);
}

button {
    border: none;
    cursor: pointer;
    font-family: inherit;
    transition: all 0.2s ease;
}

a {
    text-decoration: none;
    color: inherit;
}
